/* importaciones */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./navbar.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
:root {
  --color-principal: #0c030e;
  --color-blanco: #ffffff;
  --color-degradado: linear-gradient(84deg, #8d35c2 -0.02%, #01b7cd 100.02%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* trabajar en rems => 1rem = 10px */
}

.layout {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #0c030e;
  color: var(--color-blanco);
  font-size: 1.6rem;
}
